.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-docplanner{
  width: 20%;
  margin-right: 100%;
}
.lead__logo{
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}
h1{
  text-align: center;
  font-size: 2.125rem;
  color: #00b39b;
  margin: 1em 0;
  font-family: Work Sans,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: -.3px;  
}
.grid{
  display:flex
  align
}
p{
  margin: .8em 0;
  line-height: 1.75;
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: #747474;
}
.col-6{
  width: 50%;
  float: left;
  min-height: 1px;
  padding: 50px
  
}
